.profile {
    padding: 1%;
}

.current {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

.history {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

h1 {
    color: #578F6A ;
    font-weight: bolder;
}

h2 {
    color: #578F6A ;
}