.scrollable {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2em 0 2em 0;
}

.profile {
    padding: 1%;
}

h1 {
    color: #578F6A ;
    font-weight: bolder;
}

h2 {
    color: #578F6A ;
}

.button {
    background-color: gray;
    font-size: 24px;
}

.button:hover {
    background-color: #578F6A ;
}