.profile {
    padding: 1%;
}

h1 {
    color: #578F6A ;
    font-weight: bolder;
}

h2 {
    color: #578F6A ;
}

.button {
    background-color: gray
}

.button:hover {
    background-color: #578F6A ;
}