.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
    display: inline;
    position: sticky;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 80px;
    background-color: #578F6A;
    color: white;
  }