.footer {
  position: relative;
  margin-top: 20px;
  width: 100%;
  /* max-height: 80px; */
  background-color: #578F6A;
  color: white;
  /* z-index: 999; */
}

.footer-link {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.logo {
  filter: invert(1) grayscale(1) brightness(2);
}