.formlabel {
    color: #1c92a9;
    font-size: large;
    font-weight: bold;
}

.submit {
    margin-top: 3em;
}

.journeyForm {
    margin-top: 180px;
    @media (max-width: 648px) {
        margin-top: 600px;
      };
      @media (max-width: 896px) {
        margin-top: 400px;
      }
  }

.removet {
    margin-top: 1em;
}

.addt {
    margin-top: 1em;
}
.label {
    color: #578F6A ;
    font-size: large;
}

.form-input {
    width: 100%;
  }

.invite  {
    color: #4579fb;
  }

.traveler {
    font-size: larger;
    font-weight: bold;
    color: #578F6A;
  }