.footer {
  position: relative;
  margin-top: 20px;
  max-width: 100%;
  background-color: #578F6A;
  color: white;
}

.footer-link {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.logo {
  filter: invert(1) grayscale(1) brightness(2);
}